<%- include layout/header.ejs %>
<form action="/users/edit/<%= data[0].id %>" method="post">
<div class="container">
  <div class="row justify-content-md-center">
<div class="col-md-6">
 <p class="h5 text-center mb-4">Edit Users </p>
 
<div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" name="name" required value="<%= data[0].name %>" class="form-control">
        <label for="form3">Your name</label>
    </div>
     <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="email" required name="email"  id="orangeForm-email" value="<%= data[0].email %>" class="form-control ">
        <label for="orangeForm-email">Your email</label>
    </div>

    <div class="md-form">
        <i class="fa fa-phone prefix grey-text"></i>
        <input type="number" required name="phone"  id="orangeForm-pass" class="form-control" value="<%= data[0].phone %>">
        <label for="orangeForm-pass">Your Phone Number</label>
    </div>

    <div class="text-center">
        <button class="btn btn-deep-orange">Save</button>
        <button type="reset" class="btn btn-success">Reset</button>
    </div>
</div>
</div>
</div>
</form>
<%- include layout/footer.ejs %>