<%- include layout/header.ejs %>
<a href="/users/add" class="btn btn-primary">Add </a>
<table class="table">
<thead>
<th>S.I</th>
<th>Name</th>
<th>Email</th>
<th>Phone Number</th>
<th>Action</th>
</thead>
<tbody>
     <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].name%></td>                    
                    <td><%=data[i].email%></td>
                    <td><%=data[i].phone%></td>        
                    <td><a href="/users/edit/<%=data[i].id%>"><i class="fa fa-pencil" aria-hidden="true"></i></a> &nbsp;<a href="/users/delete/<%=data[i].id%>" ><i class="fa fa-trash" aria-hidden="true"></i></a> </td>            
                </tr>

                <% }
                
                 }
                 else{ %>

                     <tr>
                        <td colspan="3">No data found</td>
                     </tr>

                <% } %>

</tbody>
</table>
     <%- include layout/footer.ejs %>